*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #580a89;
    background-size: cover;
}
@media (max-width: 445px) {
    body{
        margin-left: 50px;
    }
}
.container{
    width: 43%;
    min-width: 450px;
    position: relative;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    padding: 30px 40px;
}

/* Start Newtask */

#newtask{
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
}
#newtask input{
    width: 70%;
    height: 45px;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus{
    outline: none;
    border-color: #8052ec;
}
#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    background-color: #8052ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
}
#newtask button:hover{
    background-color: #5f35c2;
}

/* End Newtask */
/* Start Tasks */

#tasks{
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: calc(100% - 80px);
    position: absolute;
}
.task{
    background-color: #ffffff;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
    overflow: auto;
}
#taskname{
    font-size: 15px;
    font-weight: 400px;
    max-width: 400px;
    cursor: pointer;
}
.task button{
    background-color: #8052ec;
    color: #ffffff;
    height: 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.task button:hover{
    background-color: #5f35c2;
}
.completed{
    text-decoration: line-through;
}

/* End Tasks */
